/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  position: relative;
}


/* #column-top {
  position: relative;

} */

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  border-radius: 50%;
  margin: 5px;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  /* top: 50%;
  left: 50%;
  margin-right: -50%; */
  /* transform: translateX(-50%); */
  animation-name: slidedown;
  animation-duration: 2s;
  /* animation-fill-mode: forwards; */

}

@keyframes slidedown {
  from {
    transform: translateY(-700%);
  }

  to {
    transform: translateY(0%);
  }
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
#firstPlayer {
  background-color: red;
}

#secondPlayer {
  background-color: blue;
}


/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
